using './main.bicep'

// your stack name prefix
param prefix = FIXME

// your stack name id
param id = FIXME

// Override the default values
// param hubLocation = 'switzerlandnorth'
// param spokeLocations = ['westus2', 'westeurope']
